* {
    box-sizing: border-box;
}

/* .box {
    width: 400px;
    height: 400px;
    border: 1px solid blueviolet;
}

.small-box {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
} */
body {
    margin:0;
}
.box {
    background-color: gainsboro;
    border-bottom: 1px solid #dedede;
    height: 80px;
    font-size: 22px;
    padding: 20px;
}

.small-box {
    height: 20px;
    width: 80px;
    margin-left: 15px;
    display: inline-block;
    border: 1px solid black;
}

span:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
    color: gray;
}